.papaDiv {
    border: 4px solid;
    border-color: black;
    background-color: gray;
    border-radius: 10px;
}

.question {
    color: black;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 25px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    background-color: inherit;
    border: none;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 5px;
}

input:focus{
    outline: none;
}

.veryThink{
    font-size: large;
}

.brainrot {
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 25px;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 4px; */
    /* text-underline-offset: 4px; */
}